* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: #f6f6f6;
}

nav {
  display: flex;
  justify-content: center;
  background-color: #86dbff;
  padding: 15px;
}

.link {
  padding: 10px 50px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  }
  
  img {
    border: 5px solid #86dbff;;
    width: 350px;
    height: 450px;
  }

  .cont {
    display: flex;
    justify-content: center;
  }
  
  .back {
    padding: 50px 0;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .change {
    background-color: #86dbff;
    color: black;
    padding: 10px 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
  }
  
  button {
    margin: 10px;
  }

  .about-cont {
    margin: 50px 400px;
  }

  .contact {
    margin: 50px 400px;
  }

  @media screen and (max-width: 900px) {
    .cont {
      width: 400px;
      flex-direction: column;
      margin: 2rem auto;
    }

    .change {
      padding: 10px 30px;
      margin: 0.3rem;
    }

  }

  @media screen and (max-width: 500px) {

    .link {
      font-size: 14px;
      font-weight: bold;
      padding: 10px 20px;
    }

    .about-cont {
      margin: 50px 30px;
    }

    .contact {
      margin: 50px 30px;
    }

    .back {
      font-size: 24px;
  }

  .cont {
    width: 300px;
  }

  }