body {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  background-color: #f6f6f6;
}

.products {
    display: flex;
    flex-wrap: wrap;
  }
  
  .product-card {
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%;
  }
  
  .cont {
    display: flex;
    justify-content: center;
  }
  
  .back {
    background-color: #f4eddd; 
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .change {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
  }
  
  button {
    margin: 10px;
  }